[tool.poetry]
name = "youmirror"
version = "0.2.0"
description = "Create a mirror filetree of your favorite youtube videos"
authors = ["wkrettek <warrenkrettek@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
pytube = "^12.0.0"
typer = "^0.4.1"
tqdm = "^4.64.0"
sqlitedict = "^2.0.0"
toml = "^0.10.2"
internetarchive = {version = "^3.0.0", optional = true}

[tool.poetry.dev-dependencies]
ipykernel = "^6.13.0"

[tool.poetry.scripts]
youmirror = 'youmirror.cli:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
